BODY{
	font-family: arial;
	font-size: 12;
	color: #cccc33;
	background-image:  url(img/back_main.jpg);
	background-position: left;
	background-repeat: repeat-y;
	background-color: #006633;
	margin-left: 15;
	background-attachment: fixed;
	overflow-x:hidden; 
	scrollbar-track-color: #006633;
	scrollbar-shadow-color: #006633;
	scrollbar-highlight-color: #006633;
	scrollbar-3dlight-color: #cccc33;
	scrollbar-base-color:  #006633;
	scrollbar-arrow-color: #cccc33;
	scrollbar-darkshadow-color:#cccc33;	
	scrollbar-face-color: #006633;
	}

TABLE{
	font-family: arial;
	font-size: 12;
	color: #cccc33;
	}

img	{
	border-color: #cccc33;
	border-style: solid;
	border-width: 1px;
	}

A	{
	font-size: 12;
	color: #cccc33; 
	text-decoration: none; 
	font-weight: bold;
	}

.head {
	font-size: 13;
	color: #ffcc00; 
	text-decoration: underline; 
	font-weight: bold;
	}

.head2 {
	color: #ffcc00; 
	font-size: 12;
	text-decoration: underline; 
	font-weight: bold;
	}

.under {
	font-size: 10;
	color: #cccc33; 
	font-style: italic;
	text-align: center;
	}